.pricing-page {
    .showcase {
        padding-top: 0;
        padding-bottom: 70px;

        &-title {
            text-align: center;
            max-width: 1020px;
            margin: 0 auto;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &-subtitle {
            text-align: center;
            max-width: 1320px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        &-btn {
            display: block;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        .card-group {
            margin: 0 auto;
            max-width: 400px;
            // display: flex;
            // gap: 20px;
            // flex-wrap: wrap;
            // justify-content: center;

            // .swiper-slide {
            //     // width: auto !important;
            //     @media screen and (max-width: 1200px) and (min-width: 992px) {
            //         width: fit-content !important;
            //     }
            //     .card {
            //         max-width: 410px;
            //         margin: 0 auto;
            //         @include mq(992px) {
            //             max-width: none;
            //         }
            //     }
            // }
        }
    }

    @include mq(768px) {
        .showcase {
            &-title {
                // margin-bottom: 2rem;
            }
            &-subtitle {
            }
            &-btn {
                margin-bottom: 115px;
            }
            .card-group {
                max-width: 750px;
            }
        }
    }

    @include mq(1200px) {
        .showcase {
            padding-top: 0;
            padding-bottom: 144px;
            .card-group {
                max-width: 1200px;
                // flex-wrap: nowrap;
                .card {
                    // flex: 1;
                }
            }
        }
    }
    @include mq(1400px) {
        .showcase {
            &-subtitle {
                margin-bottom: 4rem;
            }
            .card-group {
                // gap: 50px;
            }
        }
    }
    @include mq(1650px) {
        .showcase {
            &-subtitle {
                margin-bottom: 4rem;
            }
            .card-group {
                max-width: none;
                // gap: 50px;
            }
        }
    }
}
