.pricing-page {
    .showcase {
        padding-top: 0;
        padding-bottom: 70px;

        &-title {
            text-align: center;
            max-width: 1020px;
            margin: 0 auto;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &-subtitle {
            text-align: center;
            max-width: 1320px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        &-btn {
            display: block;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        .card-group {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include mq(768px) {
        .showcase {
            &-title {
                margin-bottom: 2rem;
            }
            &-subtitle {
                margin-bottom: 4rem;
                line-height: 39.78px;
            }
            &-btn {
                margin-bottom: 115px;
            }
        }
    }

    @include mq(1200px) {
        .showcase {
            padding-top: 0;
            padding-bottom: 144px;
            .card-group{
                flex-wrap: nowrap;
            .card {
                flex: 1;
            }
            }
        }
    }
    @include mq(1400px) {
        .showcase {
          .card-group {
                gap: 50px;
            }
        }
    }
}


