.news {
    padding: 0;
    &-top-half {
        background-color: color(primary);
        min-height: 390px;
    }
    &-bottom-half {
    
        padding-bottom: 200px;
    }
    &-title {
        color: #fff;
    }
    .container {
        margin-top: -290px;
        & > .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 4rem;
            gap: 30px;
        }
    }
    .card-group {
        margin: 0 auto;
        max-width: 400px;
        .card {
            // max-width: 400px;
            // margin: 0 auto;
        }
    }

}





.news {
    .card-group {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // gap: 55px;
        & > .card {
            // width: 100%;
            // max-width: 400px;
        }
    }
}

@include mq(768px) {
    .news {
        
        &-bottom-half {
        }
        .card-group {
            max-width: 800px;
        }
    }
}

@include mq(992px) {
    .news {
        &-top-half {
            min-height: 470px;
        }
        .card-group {
            & > .card {
                // max-width: 100%;
                // width: calc(100% / 2 - 55px / 2);
            }
        }
    }
}
@include mq(1200px) {
    .news {
     
        .card-group {
            max-width: none;
            & > .card {
                // width: calc(100% / 3 - (55px * 2) / 3);
            }
        }
    }
}
@include mq(1600px) {
    .news {
        &-bottom-half {
            min-height: 1000px;
        }
     
    }
}