// .swiper-container {
//     width: 480px;
//   }
  
//   @media screen and (min-width: 640px) {
//     .swiper-container {
//       width: 640px;
//     }
//   }
  
//   @media screen and (min-width: 768px) {
//     .swiper-container {
//       width: 768px;
//     }
//   }

.swiper-custom-wrapper {
    position: relative;
    
}

.swiper-custom-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100vw - 20px);
    max-width: calc(100% + 7rem);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.swiper-custom-angle {
    pointer-events: auto;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;
    &:hover:not(:active) {
        background-color: color(primary);
        svg path {
            fill: #fff !important;
        }
    }
   
    svg {
        width: 1rem;
        path {
            fill: color(primary) !important;
            transition: fill .3s ease;
        }
    }
}

.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
}