.questions {
    padding-top: 70px;
    padding-bottom: 200px;
    &-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    &-content {
        .accordion-group {
            width: 100%;
            margin: 0 auto;
        }
    }
    .divider {
        margin: 40px 0;
        border-color: rgba(0,0,0,0.1);
    }
}

@include mq(768px) {
    .questions {
      
    }
  
}
@include mq(992px) {
    .questions {
        &-title {
            margin-bottom: 3rem;
        }
        &-content {
            // display: flex;
            // gap: 40px;
            .accordion {
                gap: 40px;
                display: flex;

                
            }
        }
        .divider {
            display: none;
        }
    }
}
@include mq(1400px) {
    .questions {
        padding: 170px 0 230px;
        &-title {
            margin-bottom: 7.5rem;
        }
        &-content {
            // gap: 114px;
        }
    }
}
