@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 21.3333333333px;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

body {
  position: relative;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 300;
  line-height: 1.2;
}

.display-1 {
  font-size: calc(1.3rem + 2vw);
  font-weight: 500;
}

.display-2 {
  font-size: calc(1rem + 2vw);
  font-weight: 600;
}

.display-3 {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
}

.display-6 {
  font-weight: 600;
  font-size: calc(0.8rem + 1.5vw);
}

.display-7 {
  font-weight: 500;
  font-size: 1rem;
}

.display-8 {
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .display-1 {
    font-size: 65px;
  }
  .display-2 {
    font-size: 48px;
  }
  .display-3 {
    font-size: 40px;
  }
  .display-4 {
    font-size: 3.5rem;
  }
  .display-5 {
    font-size: 3rem;
  }
  .display-6 {
    font-size: 24px;
  }
  .display-7 {
    font-size: 24px;
  }
  .display-8 {
    font-size: 26px;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(33, 37, 41,1);
}

img {
  max-width: 100%;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container,
.container-fluid {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1660px;
  }
}
@media screen and (min-width: 1650px) {
  .container {
    max-width: 1760px;
  }
}

.border {
  border: 1px solid rgba(33, 37, 41,1);
}
.border-primary {
  border-color: rgba(155, 57, 44,1);
}

.link-primary, .link-secondary, .link-success, .link-warning, .link-danger, .link-dark {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.link-primary:hover, .link-secondary:hover, .link-success:hover, .link-warning:hover, .link-danger:hover, .link-dark:hover {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
}
.link-primary[underline=hover], .link-secondary[underline=hover], .link-success[underline=hover], .link-warning[underline=hover], .link-danger[underline=hover], .link-dark[underline=hover] {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.link-primary[underline=hover]:hover, .link-secondary[underline=hover]:hover, .link-success[underline=hover]:hover, .link-warning[underline=hover]:hover, .link-danger[underline=hover]:hover, .link-dark[underline=hover]:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.link-primary[underline=always], .link-secondary[underline=always], .link-success[underline=always], .link-warning[underline=always], .link-danger[underline=always], .link-dark[underline=always] {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
}
.link-primary[underline=none], .link-secondary[underline=none], .link-success[underline=none], .link-warning[underline=none], .link-danger[underline=none], .link-dark[underline=none] {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.link-primary {
  color: rgba(155, 57, 44,1);
  -webkit-text-decoration-color: rgba(155, 57, 44,0.4);
          text-decoration-color: rgba(155, 57, 44,0.4);
}
.link-secondary {
  color: rgba(108, 117, 125,1);
  -webkit-text-decoration-color: rgba(108, 117, 125,0.4);
          text-decoration-color: rgba(108, 117, 125,0.4);
}
.link-success {
  color: rgba(46, 125, 50,1);
  -webkit-text-decoration-color: rgba(46, 125, 50,0.4);
          text-decoration-color: rgba(46, 125, 50,0.4);
}
.link-warning {
  color: rgba(237, 108, 2,1);
  -webkit-text-decoration-color: rgba(237, 108, 2,0.4);
          text-decoration-color: rgba(237, 108, 2,0.4);
}
.link-danger {
  color: rgba(211, 47, 47,1);
  -webkit-text-decoration-color: rgba(211, 47, 47,0.4);
          text-decoration-color: rgba(211, 47, 47,0.4);
}
.link-dark {
  color: rgba(33, 37, 41,1);
  -webkit-text-decoration-color: rgba(33, 37, 41,0.4);
          text-decoration-color: rgba(33, 37, 41,0.4);
}

.text-primary {
  color: rgba(155, 57, 44,1);
}
.text-secondary {
  color: rgba(108, 117, 125,1);
}

.bg-dark {
  background-color: rgba(33, 37, 41,1);
}
.bg-light {
  background-color: rgba(249, 249, 249,1);
}
.bg-primary {
  background-color: rgba(155, 57, 44,1);
}
.bg-secondary {
  background: rgba(108, 117, 125,1);
}

.rounded-circle {
  padding: 0 !important;
  border-radius: 50% !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: auto !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-pill {
  border-radius: 50rem !important;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
  width: 100%;
}
.d-flex {
  display: flex !important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

main {
  min-height: 100vh;
}

section {
  padding: 2rem 0;
}

@media screen and (min-width: 576px) {
  section {
    padding: 4rem 0;
  }
}
.circle {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 1828px;
  height: 1828px;
  background-color: rgba(249, 249, 249,1);
  border-radius: 50%;
  z-index: -1;
  top: -1200px;
  right: -650px;
  display: none;
}

.home-circle {
  top: -700px;
  right: -830px;
}

@media screen and (min-width: 576px) {
  .circle {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  [data-lazy] {
    opacity: 0;
    will-change: transform, opacity;
  }
  [data-lazy=fade] {
    opacity: 0;
  }
  [data-lazy=fade].lazy-animate {
    transition-delay: 0.5s;
  }
  [data-lazy=fade-up] {
    transform: translate3d(0, 100px, 0);
  }
  [data-lazy=fade-down] {
    transform: translate3d(0, -100px, 0);
  }
  [data-lazy=fade-left] {
    transform: translate3d(100px, 0, 0);
  }
  [data-lazy=scale] {
    transform: scale(0.3);
  }
  .lazy-animate {
    opacity: 1;
    transform: translateZ(0);
  }
  .animating {
    transition-property: opacity, transform !important;
    transition-timing-function: ease-in, ease-out !important;
    transition-duration: 0.7s !important;
  }
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgba(155, 57, 44,1);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
  background-color: transparent !important;
  border-top: 6px solid rgba(155, 57, 44,1);
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}
.navbar .target {
  position: absolute;
  border-bottom: 2px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}
.navbar a,
.navbar .target {
  transition: all 0.25s ease-in-out !important;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  gap: 0 20px;
}
.navbar-toggler {
  padding: 10px;
  cursor: pointer;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
.navbar-toggler-icon {
  width: 1.2rem;
  display: block;
}
.navbar-toggler path {
  fill: currentColor;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.navbar-brand svg {
  width: 100px !important;
  height: auto;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  margin-top: 30px;
  display: inline-flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
}
.navbar .trial-btn {
  display: none;
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(155, 57, 44,1);
}

.navbar-collapse:not(.collapsing) {
  height: auto !important;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;
}

@media (min-width: 390px) {
  .navbar .trial-btn {
    display: block;
  }
}
@media (min-width: 992px) {
  .navbar-brand svg {
    width: 100% !important;
  }
  .navbar > .container-fluid {
    gap: 0 50px;
  }
}
@media (min-width: 1480px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 85px;
    padding-bottom: 110px;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-top: 0;
    margin-left: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-expand-lg .navbar-collapse {
    height: auto !important;
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .trial-btn {
    order: 3;
  }
}
@media (min-width: 1600px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.header_burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header_burger span {
  position: absolute;
  background-color: #000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.header_burger:before,
.header_burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header_burger:before {
  top: 0;
}

.header_burger:after {
  bottom: 0;
}

.header_burger.active span {
  transform: scale(0);
}

.header_burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}

.header_burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.footer {
  padding: 0;
  background-color: rgb(245, 245, 245);
  min-height: 300px;
}
.footer-subtitle {
  padding: 0 15px;
  text-transform: capitalize;
  color: rgba(155, 57, 44,1);
  font-weight: 600;
  font-size: 22px;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.footer-content {
  margin-top: -100px;
  padding-bottom: 50px;
  display: flex;
  gap: 50px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-content .btn {
  padding: 3px 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer-brand {
  width: 100%;
}
.footer-brand svg {
  max-width: 170px;
}
.footer .contact-info-item-question {
  padding: 3px 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer .contact-info-link-tel {
  line-height: 1.4 !important;
  padding: 0 15px !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 2.5rem;
}
.footer .contact-info-link-location {
  white-space: normal;
}
.footer .app-links {
  max-width: 230px;
}
.footer .app-links .btn {
  padding: 5px;
}
.footer .app-links .btn:first-of-type {
  margin-bottom: 0.7rem;
}
.footer .scroll-top-btn {
  padding: 18px 13px;
  min-width: 52px;
}
.footer hr {
  border-color: rgba(217, 217, 217, 0.5);
}
.footer-bottom {
  padding: 25px 0;
}
.footer-bottom-text {
  font-size: 12px;
  font-weight: 400;
}
.footer-bottom-content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.footer .subscribe {
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/subscribe.jpg");
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px 7.5%;
  border-radius: 9px;
  overflow: hidden;
  padding: 35px 20px;
  text-align: center;
}
.footer .subscribe:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.85);
}
.footer .subscribe > * {
  position: relative;
}
.footer .subscribe-title {
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 35px;
  margin-bottom: 0.55rem;
}
.footer .subscribe-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.41px;
}
.footer .subscribe > .wrapper {
  width: 100%;
  max-width: 530px;
}
.footer .subscribe .form-group {
  width: 100%;
  border-radius: 50rem;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
.footer .subscribe .form-control {
  flex: 3;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: 0 25px;
  color: #000;
  font-family: Montserrat;
  border: none;
  outline: none;
}
.footer .subscribe .form-control::-moz-placeholder {
  color: #000;
  text-transform: capitalize;
}
.footer .subscribe .form-control:-ms-input-placeholder {
  color: #000;
  text-transform: capitalize;
}
.footer .subscribe .form-control::placeholder {
  color: #000;
  text-transform: capitalize;
}
.footer .subscribe .btn {
  flex: 1;
  min-width: 150px;
}

@media screen and (min-width: 980px) and (max-width: 1120px) {
  .footer .contact-info {
    order: 4;
  }
}
@media screen and (min-width: 576px) {
  .footer .subscribe-title {
    line-height: 43.58px;
  }
}
@media screen and (min-width: 768px) {
  .footer-content {
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .footer-bottom-text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    margin-top: 0;
  }
  .footer-subtitle {
    margin-bottom: 2.3rem;
  }
  .footer .subscribe {
    padding: 70px 50px;
    text-align: left;
    flex-direction: row;
  }
}
@media screen and (min-width: 1700px) {
  .footer-brand {
    width: auto;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 10px 20px;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  white-space: nowrap;
  font-family: Montserrat;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 21px;
    padding: 15px 42px;
  }
}
.btn-sm {
  font-size: 0.8125rem;
  padding: 4px 10px;
}
.btn-lg {
  font-size: 1rem;
  padding: 8px 22px;
  border-radius: 6px;
}
@media screen and (min-width: 992px) {
  .btn-lg {
    font-size: 23px;
    padding: 17px 42px;
  }
}
.btn-block {
  width: 100%;
}
.btn.disabled, .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn-primary, .btn-warning, .btn-success, .btn-secondary, .btn-danger, .btn-light {
  color: #fff;
}
.btn-primary:hover, .btn-warning:hover, .btn-success:hover, .btn-secondary:hover, .btn-danger:hover, .btn-light:hover {
  text-decoration: none;
}
.btn-primary:active span.ripple, .btn-primary.active span.ripple, .btn-warning:active span.ripple, .btn-warning.active span.ripple, .btn-success:active span.ripple, .btn-success.active span.ripple, .btn-secondary:active span.ripple, .btn-secondary.active span.ripple, .btn-danger:active span.ripple, .btn-danger.active span.ripple, .btn-light:active span.ripple, .btn-light.active span.ripple {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0s;
}
.btn-primary {
  background-color: rgba(155, 57, 44,1);
}
.btn-primary:hover {
  background-color: rgba(106, 44, 36,1);
}
.btn-success {
  background-color: rgba(46, 125, 50,1);
}
.btn-success:hover {
  background-color: rgba(27, 94, 32,1);
}
.btn-warning {
  background-color: rgba(237, 108, 2,1);
}
.btn-warning:hover {
  background-color: rgba(202, 91, 0,1);
}
.btn-danger {
  background-color: rgba(211, 47, 47,1);
}
.btn-danger:hover {
  background-color: rgba(188, 22, 22,1);
}
.btn-secondary {
  background-color: rgba(108, 117, 125,1);
}
.btn-secondary:hover {
  background-color: rgba(85, 91, 96,1);
}
.btn-light {
  color: rgba(155, 57, 44,1);
  background-color: rgba(249, 249, 249,1);
}
.btn-light:hover {
  background-color: rgba(221, 223, 226,1);
}
.btn-outline-primary, .btn-outline-warning, .btn-outline-success, .btn-outline-secondary, .btn-outline-danger, .btn-outline-light, .btn-outline-dark, .btn-text-primary, .btn-text-warning, .btn-text-success, .btn-text-secondary, .btn-text-danger, .btn-text-light, .btn-text-dark {
  border: 1px solid;
  box-shadow: none;
}
.btn-outline-primary:hover, .btn-outline-warning:hover, .btn-outline-success:hover, .btn-outline-secondary:hover, .btn-outline-danger:hover, .btn-outline-light:hover, .btn-outline-dark:hover, .btn-text-primary:hover, .btn-text-warning:hover, .btn-text-success:hover, .btn-text-secondary:hover, .btn-text-danger:hover, .btn-text-light:hover, .btn-text-dark:hover {
  box-shadow: none;
  border-color: currentColor;
}
.btn-outline-primary span.ripple, .btn-outline-warning span.ripple, .btn-outline-success span.ripple, .btn-outline-secondary span.ripple, .btn-outline-danger span.ripple, .btn-outline-light span.ripple, .btn-outline-dark span.ripple, .btn-text-primary span.ripple, .btn-text-warning span.ripple, .btn-text-success span.ripple, .btn-text-secondary span.ripple, .btn-text-danger span.ripple, .btn-text-light span.ripple, .btn-text-dark span.ripple {
  opacity: 0.2;
}
.btn-outline-primary:active span.ripple, .btn-outline-primary.active span.ripple, .btn-outline-warning:active span.ripple, .btn-outline-warning.active span.ripple, .btn-outline-success:active span.ripple, .btn-outline-success.active span.ripple, .btn-outline-secondary:active span.ripple, .btn-outline-secondary.active span.ripple, .btn-outline-danger:active span.ripple, .btn-outline-danger.active span.ripple, .btn-outline-light:active span.ripple, .btn-outline-light.active span.ripple, .btn-outline-dark:active span.ripple, .btn-outline-dark.active span.ripple, .btn-text-primary:active span.ripple, .btn-text-primary.active span.ripple, .btn-text-warning:active span.ripple, .btn-text-warning.active span.ripple, .btn-text-success:active span.ripple, .btn-text-success.active span.ripple, .btn-text-secondary:active span.ripple, .btn-text-secondary.active span.ripple, .btn-text-danger:active span.ripple, .btn-text-danger.active span.ripple, .btn-text-light:active span.ripple, .btn-text-light.active span.ripple, .btn-text-dark:active span.ripple, .btn-text-dark.active span.ripple {
  background-color: currentColor !important;
  transition: background-color 0s;
}
.btn-outline-primary, .btn-text-primary {
  border-color: rgba(155, 57, 44,1);
  color: rgba(155, 57, 44,1);
}
.btn-outline-primary:hover, .btn-text-primary:hover {
  background-color: rgba(155, 57, 44,1);
  color: #fff;
}
.btn-outline-secondary, .btn-text-secondary {
  border-color: rgba(108, 117, 125,0.5);
  color: rgba(108, 117, 125,1);
}
.btn-outline-secondary:hover, .btn-text-secondary:hover {
  background-color: rgba(108, 117, 125,0.04);
}
.btn-outline-success, .btn-text-success {
  border-color: rgba(46, 125, 50,0.5);
  color: rgba(46, 125, 50,1);
}
.btn-outline-success:hover, .btn-text-success:hover {
  background-color: rgba(46, 125, 50,0.04);
}
.btn-outline-warning, .btn-text-warning {
  border-color: rgba(237, 108, 2,0.5);
  color: rgba(237, 108, 2,1);
}
.btn-outline-warning:hover, .btn-text-warning:hover {
  background-color: rgba(237, 108, 2,0.04);
}
.btn-outline-danger, .btn-text-danger {
  border-color: rgba(211, 47, 47,0.5);
  color: rgba(211, 47, 47,1);
}
.btn-outline-danger:hover, .btn-text-danger:hover {
  background-color: rgba(211, 47, 47,0.04);
}
.btn-outline-light, .btn-text-light {
  border-color: rgba(249, 249, 249,0.5);
  color: rgba(249, 249, 249,1);
}
.btn-outline-light:hover, .btn-text-light:hover {
  background-color: rgba(249, 249, 249,0.04);
}
.btn-outline-dark:hover, .btn-text-dark:hover {
  background-color: rgba(155, 57, 44,0.1);
}
.btn-text-primary, .btn-text-warning, .btn-text-success, .btn-text-secondary, .btn-text-danger, .btn-text-light, .btn-text-dark {
  border: none;
}
.btn-text-primary:hover, .btn-text-warning:hover, .btn-text-success:hover, .btn-text-secondary:hover, .btn-text-danger:hover, .btn-text-light:hover, .btn-text-dark:hover {
  border-color: none;
}
.btn span {
  display: inherit;
}
.btn span.ripple {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  -webkit-animation: ripple 1s linear forwards;
          animation: ripple 1s linear forwards;
  transition: background-color 1s ease-out;
}
@-webkit-keyframes ripple {
  to {
    transform: scale(4);
  }
}
@keyframes ripple {
  to {
    transform: scale(4);
  }
}
.btn span.startIcon {
  margin-left: -4px;
  margin-right: 8px;
}
.btn span.endIcon {
  margin-right: -4px;
  margin-left: 8px;
}
.btn span svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25em;
}
.btn span svg path {
  fill: currentColor;
}

.pricing-card {
  border: 4px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  padding: 55px 30px;
  background-color: rgba(250, 250, 250,1);
  max-width: 500px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}
.pricing-card:hover {
  border-color: rgba(155, 57, 44,1);
  transform: translateX(-10px);
}
.pricing-card .card-title {
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.pricing-card .card-description {
  color: rgba(161,161,161,1);
  font-weight: 500;
  margin-bottom: 1rem;
}
.pricing-card .card-description::first-letter {
  text-transform: uppercase;
}
.pricing-card .card-price {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.pricing-card .card-date {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.pricing-card .card-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}
.pricing-card .card-item.not-included {
  color: rgb(157, 157, 157);
}
.pricing-card .card-item.not-included svg path {
  stroke: rgb(157, 157, 157);
}
.pricing-card .card-item::first-letter {
  text-transform: uppercase;
}
.pricing-card .card-item .checkmark {
  margin-right: 1rem;
}
.pricing-card .card-item .checkmark svg {
  width: 15px;
}
.pricing-card .btn {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 1200px) {
  .pricing-card .card-date {
    margin-bottom: 3.6rem;
  }
  .pricing-card .card-item .checkmark {
    margin-right: 2rem;
  }
  .pricing-card .card-item .checkmark svg {
    width: 25px;
  }
  .pricing-card .card .btn {
    margin-bottom: 3.6rem;
  }
}
@media screen and (min-width: 1650px) {
  .pricing-card {
    padding: 75px 37px;
  }
  .pricing-card .card-title {
    font-size: 51px;
  }
  .pricing-card .card-description {
    font-size: 24px;
  }
  .pricing-card .card-item {
    font-size: 23px;
  }
  .pricing-card .btn {
    font-size: 23px;
  }
}
.tracking-card {
  display: grid;
  grid-gap: 40px;
}
.tracking-card .wrapper {
  max-width: 600px;
}
.tracking-card:not(:last-of-type) {
  margin-bottom: 80px;
}
.tracking-card .card-image {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgba(249, 249, 249,1);
}
.tracking-card .card-image img {
  position: absolute;
  bottom: -13%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.tracking-card .card-title {
  text-transform: capitalize;
  margin-bottom: 1.2rem !important;
}
.tracking-card .card-description {
  font-weight: 400;
}
.tracking-card .card-description::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .tracking-card .card-image {
    width: 300px;
    padding-top: 300px;
  }
}
@media screen and (min-width: 992px) {
  .tracking-card {
    align-items: center;
    grid-template-columns: 1fr 1.2fr;
  }
  .tracking-card .wrapper {
    margin-left: auto;
  }
  .tracking-card.reversed {
    grid-template-columns: 1.2fr 1fr;
  }
  .tracking-card.reversed .card-image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tracking-card.reversed .wrapper {
    margin-left: 0;
  }
  .tracking-card .card-description {
    line-height: 36.73px;
  }
}
.news-card {
  position: relative;
  padding-bottom: 80px;
}
.news-card:hover .card-body {
  transform: translateX(-50%);
}
.news-card .card-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 105%;
}
.news-card .card-image img {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card .card-body {
  position: absolute;
  background-color: #fff;
  padding: 25px 30px;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  width: 93%;
  z-index: 1;
  box-shadow: -3px 1px 6px 3px rgba(0, 0, 0, 0.03);
  border-radius: 9px;
  transition: transform 0.3s ease;
}
.news-card .card-body > .wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.1rem;
}
.news-card .card-category {
  color: rgb(192, 192, 192);
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}
.news-card .card-date {
  color: rgb(192, 192, 192);
  font-weight: 500;
  font-size: 1rem;
}
.news-card .card-title {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 2rem;
}
.news-card .card-link {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.builder-card {
  display: flex;
  flex-direction: column;
}
.builder-card .card-image {
  position: relative;
  width: 70%;
  padding-top: 70%;
  margin: 0 auto;
  height: 0;
  background-color: rgba(155, 57, 44,1);
  border-radius: 50%;
  margin-bottom: 1rem;
}
.builder-card .card-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
.builder-card .card-title {
  font-size: 1.4vw;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(155, 57, 44,1);
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background-color: rgba(155, 57, 44,1);
  color: #fff;
  padding: 4rem 0 3rem;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner-title {
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.banner-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1.3rem;
}
.banner-links {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}
.banner-links .btn {
  padding: 5px;
  min-width: auto;
  border-radius: 16px;
}
.banner-links .btn img {
  max-width: 260px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 100px 0 80px;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-text {
    font-size: 30px;
  }
  .banner-links {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .banner-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner-title {
    text-align: left;
    margin: 0;
    max-width: 700px;
  }
  .banner-text {
    text-align: left;
  }
  .banner-links {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .banner-title {
    font-size: 42px;
    line-height: 52.3px;
  }
}
.banner-2 {
  background-color: rgba(155, 57, 44,1);
  color: #fff;
  padding: 3rem 0 3rem;
}
.banner-2-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 40px;
}
.banner-2-title {
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .banner-2 {
    padding: 110px 0 110px;
  }
  .banner-2-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-2-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner-2-title {
    text-align: left;
    margin: 0;
    max-width: 700px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-2-title {
    font-size: 42px;
    line-height: 52.3px;
  }
}
.drop:not(.show) {
  display: none;
}

.dropping {
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(50px);
  overflow: hidden;
  opacity: 0;
}

.dropdown {
  position: relative;
  margin-bottom: 1rem;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  position: absolute;
  z-index: 1000;
  min-width: 10rem;
  padding-top: 25px;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 24px;
  font-weight: 400;
  line-height: 36.73px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover:not(.disabled), .dropdown-item.active:not(.disabled) {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-toggle {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
  border-radius: 50rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 124.52%;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-position: calc(100% - 30px);
  background-repeat: no-repeat;
  background-size: 20px;
}
.dropdown-toggle:not(.dropped) {
  background-image: url("../../assets/images/icons/arrow-down.svg");
}

@media (min-width: 576px) {
  .dropdown-toggle {
    padding-right: 100px;
    background-position: calc(100% - 45px);
  }
}
@media (min-width: 992px) {
  .dropdown-toggle {
    min-height: 80px;
    font-size: 1.7vw;
    line-height: 1.3;
  }
}
@media (min-width: 1300px) {
  .dropdown {
    margin-bottom: 3rem;
  }
  .dropdown-toggle {
    min-height: 102px;
    background-size: 30px;
    font-size: 1.5vw;
  }
}
@media (min-width: 1500px) {
  .dropdown-toggle {
    line-height: 34.87px;
  }
}
.error {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error .container {
  text-align: center;
}
.error a {
  margin-bottom: 1rem;
}
.error .wrapper {
  max-width: 30rem;
  margin: 0 auto;
}
.error-img {
  position: relative;
  height: 0;
  padding-top: 100%;
  width: 100%;
}
.error img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.error-title {
  font-size: 5vw;
}

.home-page .showcase {
  overflow: hidden;
  position: relative;
}
.home-page .showcase-content {
  display: grid;
  grid-gap: 80px;
  align-items: center;
}
.home-page .showcase-info {
  position: relative;
  z-index: 1;
}
.home-page .showcase-title {
  line-height: 1.2;
  margin-bottom: 1.5rem;
  max-width: 700px;
}
.home-page .showcase-description {
  max-width: 600px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.home-page .showcase-description::first-letter {
  text-transform: uppercase;
}
.home-page .showcase-cover {
  position: absolute;
  pointer-events: none;
  opacity: 0.1;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  padding-top: 80%;
  cursor: pointer;
}
.home-page .showcase-cover:hover .play-btn {
  transform: translate(20%, -50%) scale(1.1);
}
.home-page .showcase-cover:hover .play-btn:before {
  transform: scale(1.5);
  opacity: 0;
}
.home-page .showcase-cover:active .play-btn {
  transform: translate(20%, -50%);
}
.home-page .showcase-cover .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background: url("../../../../assets/images/home-cover.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 13px solid #ffffff;
  box-shadow: 4px 9px 17px 18px rgba(0, 0, 0, 0.04);
  border-radius: 21px;
}
.home-page .showcase-cover .play-btn {
  pointer-events: none;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%);
  z-index: 1;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(155, 57, 44,1);
  border: none;
  transition: transform 0.3s ease;
}
.home-page .showcase-cover .play-btn::before {
  content: "";
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: transform 0.3s ease, opacity 0.3s ease-out;
}
.home-page .showcase-cover .play-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 40%;
  height: auto;
}
.home-page .showcase-cover .play-btn svg path {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .home-page .showcase-description {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .home-page .showcase {
    padding-top: 0;
    position: relative;
    padding-bottom: 200px;
  }
  .home-page .showcase-content {
    grid-template-columns: 1fr 1.5fr;
  }
  .home-page .showcase-cover {
    position: relative;
    opacity: 1;
    pointer-events: auto;
  }
  .home-page .showcase .play-btn {
    display: block;
  }
}
.about {
  background-color: rgba(249, 249, 249,1);
}
.about-content {
  display: grid;
  grid-gap: 30px;
}
.about-cover {
  position: relative;
  width: 100%;
  padding-top: 40%;
  height: 0;
  overflow: hidden;
  border-radius: 18px;
}
.about-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-info .wrapper {
  max-width: 700px;
}
.about-title {
  margin-bottom: 1.6rem;
}
.about-subtitle {
  margin-bottom: 1.3rem;
}
.about-description {
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about {
    padding: 145px 0;
  }
  .about-content {
    grid-template-columns: 1fr 1.18fr;
  }
  .about-cover {
    padding-top: 63%;
  }
  .about-description {
    font-size: 18px;
  }
  .about-info .wrapper {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about-description {
    font-size: 24px;
    line-height: 36.73px;
  }
}
.tabs .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.tabs .nav-tabs {
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 1.5rem;
}
.tabs .nav-tabs .nav-link {
  color: rgba(108, 117, 125,0.7);
  text-transform: capitalize;
  white-space: nowrap;
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom: -1px;
  background: 0 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
}
.tabs .nav-tabs .nav-link.active {
  color: rgba(155, 57, 44,1);
}
.tabs .nav-tabs .nav-link:hover {
  color: rgba(108, 117, 125,1);
}
.tabs .tab-content > .tab-pane {
  display: none;
}
.tabs .tab-content > .active {
  display: block;
}
.tabs .fade {
  transition: opacity 0.3s linear;
}
.tabs .fade:not(.show) {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .tabs .nav-tabs {
    padding-bottom: 1.2rem;
    margin-bottom: 5rem;
  }
  .tabs .nav-tabs .nav-link {
    font-size: 24px;
    padding: 0.5rem 1.8rem;
  }
}
.features-title {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.features-description {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 25px;
}
.features-description::first-letter {
  text-transform: uppercase;
}
.features .financial-tools {
  display: grid;
  grid-gap: 40px;
}
.features .financial-tools-cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 72%;
  -o-object-position: top;
     object-position: top;
  border: 13px solid #ffffff;
  box-shadow: 4px 9px 17px 18px rgba(0, 0, 0, 0.04);
  border-radius: 21px;
}
.features .financial-tools-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: 100%;
     object-fit: 100%;
}
.features .financial-tools-title {
  margin-bottom: 1rem;
}
.features .financial-tools-description {
  font-weight: 400;
  margin-bottom: 2rem;
}
.features .financial-tools .list-item {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 992px) {
  .features {
    padding: 135px 0 185px;
  }
  .features .wrapper {
    max-width: 690px;
    margin-left: auto;
  }
  .features .financial-tools {
    grid-template-columns: 1fr 1.08fr;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .features-title {
    max-width: 800px;
    margin-bottom: 3rem;
  }
  .features-description {
    margin-bottom: 5.3rem;
    line-height: 36.41px;
  }
  .features .financial-tools-title {
    margin-bottom: 1rem;
  }
  .features .financial-tools-description {
    margin-bottom: 4rem;
  }
  .features .financial-tools .list-item {
    margin-bottom: 1.3rem;
  }
}
.managment {
  background-color: rgba(155, 57, 44,1);
  color: #fff;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0.75rem;
  background-size: contain;
  background-image: url("../../../../assets/images/icons/p.svg");
}
.managment-content {
  display: grid;
  align-items: center;
  grid-gap: 40px;
}
.managment-info > .wrapper {
  max-width: 610px;
}
.managment-title {
  line-height: 124.52%;
  margin-bottom: 1rem;
}
.managment-subtitle {
  margin-bottom: 1.3rem;
}
.managment-description {
  margin-bottom: 2rem;
  line-height: 25px;
}
.managment-cover {
  position: absolute;
  width: 50%;
  right: 0.75rem;
  height: 100%;
  opacity: 0.1;
}
.managment .phone-tablet {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.managment .phone-cover {
  position: absolute;
  width: 45%;
}
.managment .phone-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.managment .phone-top {
  display: none;
  padding-top: 62.5%;
  top: -1px;
  left: 0;
}
.managment .phone-middle {
  padding-top: 95%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.managment .phone-bottom {
  padding-top: 67%;
  bottom: -1px;
  left: 0;
}

@media screen and (min-width: 992px) {
  .managment-content {
    grid-template-columns: 1.5fr 1fr;
    justify-content: space-between;
  }
  .managment-cover {
    position: relative;
    right: 0;
    opacity: 1;
    height: 0;
    width: 100%;
    padding-top: 200%;
  }
  .managment .phone-tablet {
    display: block;
  }
  .managment .phone-cover {
    display: none;
  }
  .managment-title {
    margin-bottom: 2.8rem;
  }
  .managment-subtitle {
    margin-bottom: 3rem;
  }
  .managment-description {
    line-height: 36.41px;
    font-size: 24px;
    margin-bottom: 4.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .managment {
    padding: 0;
  }
  .managment-content {
    grid-template-columns: 1fr 1.13fr;
  }
  .managment-cover {
    padding-top: 137%;
  }
  .managment .phone-tablet {
    display: none;
  }
  .managment .phone-cover {
    display: block;
  }
  .managment .phone-top {
    display: block;
  }
}
.pricing-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-title {
  text-align: center;
  margin-bottom: 2.2rem;
}
.pricing-subtitle {
  text-align: center;
  font-weight: 400;
  max-width: 1040px;
  margin: 0 auto 3rem;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .pricing {
    padding: 135px 0 145px;
  }
  .pricing-subtitle {
    line-height: 36.73px;
    margin: 0 auto 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .pricing-content {
    flex-wrap: nowrap;
  }
  .pricing-content .card {
    flex: 1;
  }
}
@media screen and (min-width: 1400px) {
  .pricing-content {
    gap: 50px;
  }
}
@media screen and (min-width: 768px) {
  .tracking {
    padding: 130px 0;
  }
}
.news {
  padding: 0;
}
.news-top-half {
  background-color: rgba(155, 57, 44,1);
  min-height: 390px;
}
.news-bottom-half {
  min-height: 980px;
  padding-bottom: 200px;
}
.news-title {
  color: #fff;
}
.news .container {
  margin-top: -290px;
}
.news .container > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.news-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}
.news-content > .card {
  flex: 1;
  max-width: 600px;
  min-width: 300px;
}

@media screen and (min-width: 576px) {
  .news-content > .card {
    min-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .news-top-half {
    min-height: 470px;
  }
}
.builder {
  padding-bottom: 50px;
}
.builder-title {
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}
.builder-subtitle {
  text-align: center;
  margin-bottom: 2rem;
}
.builder > .wrapper {
  padding: 70px 0 140px;
  background-color: rgb(249, 249, 249);
}
.builder-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 1350px;
  text-align: center;
  margin: 0 auto;
}
.builder-description::first-letter {
  text-transform: uppercase;
}
.builder .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.builder .cards-group {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 0;
}
.builder .cards-group .card {
  width: 50%;
}
.builder .cards-group .card .card-title {
  font-size: 5vw;
}
@media screen and (min-width: 576px) {
  .builder .cards-group .card {
    width: 33.3333333333%;
  }
  .builder .cards-group .card .card-title {
    font-size: 3vw;
  }
}
@media screen and (min-width: 768px) {
  .builder .cards-group .card {
    width: 25%;
  }
  .builder .cards-group .card .card-title {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  .builder .cards-group .card {
    width: 14.2857142857%;
  }
  .builder .cards-group .card .card-title {
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 768px) {
  .builder-title {
    margin-bottom: 2rem;
  }
  .builder-subtitle {
    margin-bottom: 4rem;
    line-height: 39.78px;
  }
  .builder .btn {
    margin-bottom: 160px;
  }
  .builder > .wrapper {
    padding: 145px 0;
  }
  .builder-description {
    line-height: 53.21px;
    font-size: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .builder {
    padding-top: 0;
    padding-bottom: 200px;
  }
}
.estimating {
  padding-bottom: 230px;
}
.estimating .banner {
  margin: 70px 0;
}

@media screen and (min-width: 768px) {
  .estimating {
    padding-top: 100px;
    padding-bottom: 350px;
  }
}
@media screen and (min-width: 992px) {
  .estimating .banner {
    margin: 170px 0;
  }
}
.pricing-page .showcase {
  padding-top: 0;
  padding-bottom: 70px;
}
.pricing-page .showcase-title {
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}
.pricing-page .showcase-subtitle {
  text-align: center;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.pricing-page .showcase-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.pricing-page .showcase .card-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .pricing-page .showcase-title {
    margin-bottom: 2rem;
  }
  .pricing-page .showcase-subtitle {
    margin-bottom: 4rem;
    line-height: 39.78px;
  }
  .pricing-page .showcase-btn {
    margin-bottom: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing-page .showcase {
    padding-top: 0;
    padding-bottom: 144px;
  }
  .pricing-page .showcase .card-group {
    flex-wrap: nowrap;
  }
  .pricing-page .showcase .card-group .card {
    flex: 1;
  }
}
@media screen and (min-width: 1400px) {
  .pricing-page .showcase .card-group {
    gap: 50px;
  }
}

.questions {
  padding-top: 70px;
  padding-bottom: 200px;
}
.questions-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}
.questions-content .dropdown-group {
  width: 100%;
  max-width: 740px;
}

@media screen and (min-width: 768px) {
  .questions {
    padding: 170px 0 230px;
  }
  .questions-title {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 992px) {
  .questions-content {
    gap: 40px;
    display: flex;
  }
}
@media screen and (min-width: 1500px) {
  .questions-content {
    gap: 114px;
  }
}/*# sourceMappingURL=index.css.map */