.blogs-page {
    .showcase {
        padding-top: 0;
        padding-bottom: 284px;

        &-title {
            text-align: center;
            max-width: 1020px;
            margin: 0 auto;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &-subtitle {
            text-align: center;
            max-width: 1320px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        &-btn {
            display: block;
            margin: 0 auto;
            margin-bottom: 70px;
        }
    }

    .showcase {
        .card-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 55px;
            max-width: 800px;
            margin: 0 auto;
            & > .card {
                width: 100%;
                max-width: 400px;
            }
        }
    }

    @include mq(768px) {
        .showcase {
            &-btn {
              
            }
            .card-group {
                & > .card {
                    max-width: 100%;
                    width: calc(100% / 2 - 55px / 2);
                }
            }
        }
    }
    @include mq(1200px) {
        .showcase {
            .card-group {
                max-width: none;
                & > .card {
                    width: calc(100% / 3 - (55px * 2) / 3);
                }
            }
        }
    }
    @include mq(1400px) {
        .showcase {
            &-btn {
                margin-bottom: 220px;
            }
            &-subtitle {
                margin-bottom: 4rem;
            }
        }
    }
}
