.tabs {
    .nav {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // width: 100%;
        // margin: 0 auto;
        // max-width: 1400px;
    }
    .swiper-wrapper {
      
        @include mq(1100px){
            justify-content: center;
        }
    }
    .swiper-slide {
        width: auto !important;
        @include mq(1200px){
            width: auto !important;
        }
    }
    .nav-tabs {
        // display: none;
        border-bottom: 2px solid #dee2e6;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        max-width: 250px;
        @include mq(576px){
            max-width: 450px;
        }
        @include mq(768px){
           max-width: 700px;
        }
        @include mq(1100px){
            max-width: none;
        }
        .nav-item {
            margin: 0 auto;
            &-managment {
                @media screen and (min-width:768px) and (max-width: 1100px){
                    // margin-left: -16px;

                }
            }
        }
        .nav-link {
            color: color(secondary, 0.7);
            text-transform: capitalize;
            white-space: nowrap;
            font-family: Montserrat;
            font-weight: 500;
            margin: 0 auto;
            margin-bottom: -1px;
            background: 0 0;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border: none;
            user-select: none;
            &.active {
                color: color(primary);
            }
            &:hover:not(.active) {
                color: color(secondary);
            }
        }
    }

    .tab-content > .tab-pane {
        display: none;
    }

    .tab-content > .active {
        display: block;
    }

    .fade {
        transition: opacity 0.3s linear;
        &:not(.show) {
            opacity: 0;
        }
    }
}

@include mq(992px) {
    .tabs {
        .nav-tabs {
            // display: flex;
        }
    }
}
@include mq(1200px) {
    .tabs {
        .nav-tabs {
            padding-bottom: 1.2rem;

            margin-bottom: 5rem;
            .nav-link {
                font-size: 24px;
                padding: 0.5rem 1.8rem;
            }
        }
    }
}

////////////////////////////////

.features {
    user-select: none;
    text-align: center;
    &-title {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        text-transform: capitalize;
        // line-height: 1.25;
        margin-bottom: 1rem;
    }
    &-description {
        max-width: 1400px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        // line-height: 25px;

        &::first-letter {
            text-transform: uppercase;
        }
    }
    .list {
        text-align: left;
        max-width: fit-content;
        margin: 0 auto;
    }
    .financial-tools {
        display: grid;

        grid-gap: 40px;
        // max-width: 400px;
        margin: 0 auto;
        [data-lazy-block] {

            order: 2;
        }
        &-cover {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 72%;
            object-position: top;
            border: 13px solid #ffffff;
            box-shadow: 4px 9px 17px 18px rgba(0, 0, 0, 0.04);
            border-radius: 21px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: 100%;
            }
        }
        &-info {
            order: 1;
        }

        &-title {
            margin-bottom: 1rem;
            text-transform: capitalize;
        }
        &-description {
            font-weight: 400;
            margin: 0 auto;
            margin-bottom: 2rem;
            max-width: 600px;
        }
        .list {
            &-item {
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 0.8rem;
            }
        }
    }
}

@include mq(992px) {
    .features {
        text-align: left;
        padding: 135px 0 185px;
        .wrapper {
            max-width: 690px;
            margin-left: auto;
        }
        &-description {
            margin-bottom: 2rem;
        }
        .list {
            max-width: none;
        }
        .financial-tools {
            max-width: none;
            grid-template-columns: 1fr 1.08fr;
            align-items: center;
            justify-content: space-between;
            &-description {
                max-width: none;
            }
            &-cover {
                order: 1;
            }
            &-info {
                order: 2;
            }
        }
    }
}
@include mq(1200px) {
    .features {
        &-title {
            max-width: 800px;
            margin-bottom: 3rem;
        }
        &-description {
            margin-bottom: 5.3rem;
            // line-height: 36.41px;
        }
        .financial-tools {
            &-title {
                margin-bottom: 1rem;
            }
            &-description {
                margin-bottom: 4rem;
            }
            .list {
                &-item {
                    margin-bottom: 1.3rem;
                }
            }
        }
    }
}
