.home-page {
    .home-circle {
        left: 0px;
        top: 0px;
        border-radius: 0;
        // right: auto;
    }
    .showcase {
        // overflow: hidden;
        position: relative;
        display: flex;
        text-align: center;

        & > .container {
            flex: 1;
        }

        &-content {
            height: 100%;
            display: grid;
            grid-gap: 40px 80px;
            // align-items: center;
        }
        &-info {
            position: relative;
            z-index: 1;
            width: 100%;
            margin: 0 auto;
            align-self: center;
        }
        &-title {
            // line-height: 1.1;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 1rem;
            span {
                // display: inline-block;
            }
        }
        &-description {
            // max-width: 600px;
            font-weight: 400;
            margin-bottom: 2rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        &-cover {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 50%;
            cursor: pointer;

            &:hover {
                .play-btn {
                    transform: translate(-50%, -50%) scale(1.1);
                    &:before {
                        transform: scale(1.5);
                        opacity: 0;
                    }
                }
            }
            &:active {
                .play-btn {
                    transform: translate(-50%, -50%);
                }
            }
            .wrapper {
                object-fit: cover;
                position: absolute;
                top: 25px;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../../../../assets/images/home-cover.jpg");
                background-position: top;
                background-repeat: no-repeat;
                background-size: 100%;
                border: 13px solid #ffffff;
                box-shadow: 4px 9px 17px 18px rgba(0, 0, 0, 0.04);
                border-radius: 21px;
            }
            .play-btn {
                pointer-events: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 10%;
                padding-top: 10%;
                border-radius: 50%;
                background-color: color(primary);
                border: none;
                transition: transform 0.3s ease;
                &::before {
                    content: "";
                    width: calc(100% + 25px);
                    height: calc(100% + 25px);
                    position: absolute;
                    top: -12.5px;
                    left: -12.5px;
                    background-color: rgba(0, 0, 0, 0.05);
                    border-radius: 50%;
                    transition: transform 0.3s ease, opacity 0.3s ease-out;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                    width: 40%;
                    height: auto;
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
@include mq(768px) {
    .home-page {
        .showcase {
            min-height: calc(100vh - 128px);
            &-content {
                grid-gap: 60px 80px;
            }
            &-cover {
            }
            &-description {
                // font-size: 26px;
            }
        }
    }
}
@include mq(1200px) {
    .home-page {
        .showcase {
            text-align: left;

            padding-top: 0;
            // padding-bottom: 150px;

            // min-height: calc(100vh - 260px);
            position: relative;
            &-content {
                grid-template-columns: auto 1fr;
            }
            &-info {
                // margin-top: 70px;
                max-width: 620px;
            }

            &-cover {
                position: relative;
                opacity: 1;
                // pointer-events: auto;
                .wrapper {
                    width: 1128px;
                    height: 67vh;
                }
                &:hover {
                    .play-btn {
                        &:before {
                            transform: scale(1.5);
                            opacity: 0;
                        }
                    }
                }
                &:active {
                    .play-btn {
                    }
                }
            }
            .play-btn {
                display: block;
                left: 23vw;
            }
        }
    }
}
@include mq(1400px) {
    .home-page {
        .home-circle {
            left: auto;
            top: -700px;
            border-radius: 50%;
            // right: auto;
        }
        .showcase {
            min-height: auto;
            padding-bottom: 400px;

            .wrapper {
                width: 1190px;
                height: 755px;
            }
            &-title {
                line-height: 1.2;
                margin-bottom: 1.5rem;
            }
            &-description {
                line-height: 39.78px;
                margin-bottom: 3rem;
            }
            .play-btn {
                left: 30vw;
            }
        }
    }
}
@include mq(2200px) {
    .home-page {
        .showcase {
            min-height: auto;
            padding-bottom: 400px;

            .play-btn {
                left: 50%;
            }
        }
    }
}
